[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

rncryptor = "==3.3.0"
bpylist = "==0.1.4"
click = "==8.0.0"
PyQRCode = "==1.2.1"


[requires]

python_version = "3.9"
